<section class="post-form-section">
  <h1 class="post-form-title">予定を追加</h1>

  <%= form_with model: @post, local: true do |f| %>
    <div class="field">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :start_time, "開始日時" %>
      <%= f.datetime_local_field :start_time %>
    </div>

    <div class="field">
      <%= f.label :end_time, "終了日時(任意)" %>
      <%= f.datetime_local_field :end_time %>
    </div>

    <%= f.submit "投稿する" %>
  <% end %>
</section>