

<section class="member-form-page">
  <div class="member-form-page__inner">
    <h1 class="member-form-title">メンバーを編集</h1>

<%= form_with model: @member, local: true do |f| %>
  <div>
    <%= f.label :namae, "名前" %><br>
    <%= f.text_field :namae, required: true %>
  </div>

  <div>
    <%= f.label :daigakumei, "大学・学部・学年" %><br>
    <%= f.text_field :daigakumei %>
  </div>

  <div>
    <%= f.label :zikointro, "自己紹介" %><br>
    <%= f.text_area :zikointro, rows: 6 %>
  </div>

  <div>
    <% if @member.photo.attached? %>
      <p>現在の写真</p>
      <%= image_tag @member.photo, style: "width:180px;height:180px;object-fit:cover;border-radius:8px;" %>
    <% end %>

    <%= f.label :photo, "写真を変更" %><br>
    <%= f.file_field :photo, accept: "image/*" %>
  </div>

  <%= f.submit "更新する" %>
<% end %>

  </div>
</section>


<%= form_with model: @member, local: true do |f| %>
  <div>
    <%= f.label :namae %>
    <%= f.text_field :namae %>
  </div>

  <div>
    <%= f.label :daigakumei %>
    <%= f.text_field :daigakumei %>
  </div>

  <div>
    <%= f.label :zikointro %>
    <%= f.text_area :zikointro %>
  </div>

  <div>
    <%= f.label :photo, "写真" %><br>
    <%= f.file_field :photo, accept: "image/*" %>
  </div>

  <%= f.submit %>
<% end %>